@layer utilities {
  .hover-bg-clickable {
    @apply hover:bg-gray-200! dark:hover:bg-[#27272a]!;
  }
  
  .hover-surface-soft {
    @apply hover:bg-gray-100! dark:hover:bg-[#3a3a3d]!;
  }

  .hover-transition-right-3 {
    @apply transition-transform duration-300 ease-in-out hover:translate-x-3
  }

  .group-hover-transition-right-3 {
    @apply transition-transform duration-300 ease-in-out group-hover:translate-x-3
  }

  .container-layout {
    @apply mx-auto w-full max-w-[1200px] px-4 @lg:px-6 @xl:px-12 @2xl:px-20 @3xl:px-24 my-8 flex flex-col gap-8;
  }
}